@import url('https://rsms.me/inter/inter-ui.css');

:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: 'Inter UI', sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
}

#app {
    background-size: cover;
    background-position: center center;
}

#app.dark-mode {
    background-color: #171b21; /* rgb(23, 27, 33) */
}

.composer {
    position: relative;
    height: 3em;
    font-size: 1.5rem;
}

.composer > * {
    font-size: inherit;
    z-index: 2;
}

.composer > *:focus {
    outline: none;
}

.composer .content, .composer .shadow-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 1rem; /* --composer-padding */
    font-weight: bold;
    background: transparent;
    border: none;
}

.composer .content {
    z-index: 1;
}

.composer .shadow-content {
    opacity: .5;
    z-index: 0;
}

#app.dark-mode .composer .content, #app.dark-mode .composer .shadow-content {
    color: white;
}

.composer .status {
    left: 0;
}

.composer .attachment {
    display: none;
}

.composer .submit {
    right: 0;
    cursor: pointer;
}

.composer .status, .composer .submit {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 1rem; /* --composer-padding */
    background: #27ae60;
    color: white;
    border: none;
    border-radius: 6px;
}

.drag-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #47e0a0;
    color: white;
    font-size: 1.5rem;
    z-index: 99;
    pointer-events: none;
}

.progress-bar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    z-index: 3;
}

.progress-bar {
    height: 0.3125em; /* 5/16 */
    cursor: help;
    background: linear-gradient(90deg, #f39c12, #f31212);
    width: 0%;
    border-top-right-radius: 0.15625em; /* 2.5/16 */
    border-bottom-right-radius: 0.15625em; /* 2.5/16 */
}